{{#with user}}
<form method="post" class="card" enctype="multipart/form-data">
    <div class="card-header">
        <h5 class="card-title">My Profile</h5>
    </div>

    <div class="card-body">
        <div class="mb-3">
            <label for="nameInput" class="form-label">Name</label>
            <input type="text" class="form-control" name="name" id="nameInput" required autofocus value="{{ name }}">
        </div>
        <div class="mb-3">
            <label for="emailInput" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" id="emailInput" required value="{{ email }}">
        </div>
        <div class="mb-3">
            <label for="usernameInput" class="form-label">Username</label>
            <input type="tel" class="form-control" name="username" id="usernameInput" disabled value="{{ username }}">
        </div>
        <div class="mb-3">
            <label for="passwordInput" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="passwordInput">
        </div>
    </div>

    <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-outline-primary">Save</button>
        <a href="/auth/logout" class="btn btn-sm btn-outline-danger" onclick="return confirm('Logout?')">Logout</a>
    </div>
</form>
{{/with}}